<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">List Pasien Rawat Inap</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="background-color:lightblue">
            <th>Nomer RM</th>
            <th>Nama Pasien</th>
            <th>Alamat Pasien</th>
            <th>Jenis Pembayaran</th>
            <th>Tgl Masuk RS</th>
            <th>Tgl Pindah</th>
            <th>Nama Ruang</th>
            <th>No Bed</th>
            <th>Admin</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inap of rawatInapPasien">
            <td>{{inap.id}}</td>
            <td>{{inap.nama}}</td>
            <td>{{inap.alamat}}</td>
            <td>{{inap.jenisPembayaran}}</td>
            <td>{{inap.tglMasuk}}</td>
            <td>{{inap.tglPindah}}</td>
            <td>{{inap.namaRuang}}</td>
            <td>{{inap.noBed}}</td>
            <td>{{inap.Admin}}</td>
            <td>
              <button style="margin:5px" type="button" class="btn btn-sm btn-primary" (click)="proses(inap)">proses</button>
              <button style="margin:5px" type="button" class="btn btn-sm btn-primary">pindah</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">

    </div>
  </div>
</div>
