<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Data Pemakaian Ruangan</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr style="background-color:lightblue">
            <th>No</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Ruang</th>
            <th>Jumlah Tempat Tidur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kamar of dataKamar">
            <td>{{kamar.no}}</td>
            <td>{{kamar.Nama}}</td>
            <td>{{kamar.Kelas}}</td>
            <td>{{kamar.Ruang}}</td>
            <td>
              <button style="margin:5px;background-color:red">1</button>
              <button style="margin:5px;background-color:green">2</button>
              <button style="margin:5px;background-color:green">3</button>
            </td>
          </tr>
        </tbody>
        
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-sm" (click)=back()>back</button>
    </div>
  </div>
</div>
