<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <button>Add Record</button>
      <input type="text">
      <select name="" id="">
        <option value="" disabled>-Select Field-</option>
      </select>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Master ICD</div>
    <div class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>KODE ICD</th>
            <th>JENIS PENYAKIT (LATIN)</th>
            <th>JENIS PENYAKIT (LOCAL)</th>
            <th>DTD</th>
            <th>SEBAB PENYAKIT LOCAL</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let icd of dataPenyakit">
            <td>{{icd.id}}</td>
            <td>{{icd.name}}</td>
            <td>{{icd.local}}</td>
            <td>{{icd.DTD}}</td>
            <td>{{icd.sbbLocal}}</td>
            <td>
              <button class="btn btn-primary">edit</button>
              <button class="btn btn-danger">delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
